
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New user, page new.html</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">
  <label for="name">Enter name: </label>
  <input type="text" th:field="*{username}" id="name"/>
  <label for="password">Enter password: </label>
  <input type="text" th:field="*{password}" id="password"/>

  <label>
    <input type="checkbox"
           name="roleView"
           th:value = "ROLE_ADMIN"
           th:text="Admin">
  </label>

  <label>
    <input type="checkbox"
           name="roleView"
           th:value = "ROLE_USER"
           th:text="User">
  </label>

<!--  <ul>-->
<!--    <li th:each="role : ${rolelist}">-->
<!--      <input type="checkbox" name="sel_roles" th:field="*{sel_roles}" th:value="${role}"-->
<!--             th:text="${role}" />-->
<!--    </li>-->
<!--  </ul>-->

<!--  <block each="role: ${listRoles}">-->
<!--    <input type="checkbox" field="*{roles}"-->
<!--           text="${role.name}" value="${role.id}"/>-->
<!--  </block>-->



  <input type="submit" value="Create!">

</form>

</body>
</html>