<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<h1>Edit user, page edit.html</h1>

<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{username}" id="name"/>
    <label for="name">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>

<!--    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>-->
<!--    <div style="color:red" th:if="${#fields.hasErrors('surname')}"-->
<!--         th:errors="*{surName}">Surname error</div>-->
    <br/>
    <input type="submit" value="Update!">

</form>

</body>
</html>