<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>New user, page new.html</title>-->
<!--</head>-->
<!--<body>-->

<!--    <form th:method="POST" th:action="@{/}" th:object="${user}">-->
<!--        <label for="name">Enter name: </label>-->
<!--        <input type="text" th:field="*{username}" id="name"/>-->
<!--        <label for="password">Enter password: </label>-->
<!--        <input type="text" th:field="*{password}" id="password"/>-->

<!--&lt;!&ndash;        <label> Roles:&ndash;&gt;-->
<!--&lt;!&ndash;            <input type="checkbox" name="authorities"&ndash;&gt;-->
<!--&lt;!&ndash;                   th:each="role : ${roles}"&ndash;&gt;-->
<!--&lt;!&ndash;                   th:text="${role.}"&ndash;&gt;-->
<!--&lt;!&ndash;                   th:value="${role.id}"&ndash;&gt;-->
<!--&lt;!&ndash;            />&ndash;&gt;-->
<!--&lt;!&ndash;        </label>&ndash;&gt;-->

<!--        <br/>-->
<!--        <input type="submit" value="Create!">-->

<!--    </form>-->

<!--</body>-->
<!--</html>-->