<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Show one user</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Show one user page Show</h1>-->
<!--<tr>-->
<!--<p th:text="${user.getUsername()}">VALUE</p>-->
<!--<p th:text="${user.getId()}">VALUE</p>-->
<!--</tr>-->
<!--<br/>-->

<!--<a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a>-->

<!--<br/>-->


<!--<form th:method="delete" th:action="@{/{id}(id=${user.getId()})}">-->
<!--    <input type="submit" value="Delete!"/>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->