<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show one user</title>
</head>
<body>
<h1>Show one user page Show</h1>
<p th:text="${user.getName()}">VALUE</p>
<p th:text="${user.getId()}">VALUE</p>

<br/>

<a th:href="@{/people/{id}/edit(id=${user.getId()})}">Edit</a>

<br/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

</body>
</html>